
:root {
    /* Paleta de colores */
    --color-contrast: #9bb5da;
    --color-gris: #d8d8d8;
    --grisClaro: #A19E9E;
    --blanco: #FFFFFF;
    --negro: #000000;
    --rojo: #E20917;
    --colorPrincipal: #173083;
    --colorSecundario: #FBB905;
    --background: #F6F7F8;
    --negroMenosIntenso: #494b4d;

    /* Paleta de colores: redes sociales */
    --colorFacebook: #314A7E;
    --colorTwitter: #29B6FD;

    /* Tipografias */
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Teko', sans-serif;
    --fuenteTerciaria: 'Dosis', sans-serif;
    --fuenteCuaternaria: 'serif';
}

/* CONTENEDOR TOTAL */

.contenedor__toda__pagina__beneficios{
    padding: 0 20px;
}

.container__all__beneficios{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--blanco);
    border-radius: 10px;
    overflow: hidden;
    margin-top: 36px;
    margin-bottom: 20px;
}

/* ENCABEZADO DE BENEFICIOS */

.encabezado__beneficios{
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
    width: 100%;
    margin-bottom: 40px;
    padding: 1px 0;
}

.encabezado__beneficios h1{
    text-align: center;
    transform: scaleY(1);
    font-size: 23px;
    
}

/* MENÚ DE BENEFICIOS */
.container__menu__benefit{
  display: flex;
  justify-content: space-evenly;
  margin: 0 60px;
  position: relative;
}

.container__menu__category{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.container__menu__category.active {
  border-bottom: 1px solid var(--rojo);
}

.container__menu__category img{
  max-width: 30%;
  width: 100%;
  margin-bottom: 10px;
}

.container__menu__category h2{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  align-content: center;
  color: var(--colorPrincipal);
  transform: scaleX(0.9);
}

.container__separation__menu__benefit{
  padding: 0 60px;
  margin: 10px 0 auto;
  display: flex;
  justify-content: center;
  position: relative;
}

.separation__menu__benefit{
  border: 1.5px solid var(--negroMenosIntenso);
  width: 100%;
  transform: translateY(50%);
}

/* DETALLES DE FRIENDZONE */

.container__friendzone__info{
  background-color: var(--colorSecundario);
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 15px;
}

.friendzone__info__title{
  display: flex;
  align-items: center;
}

.friendzone__info__title img{
  max-width: 35px;
  width: 100%;
}

.friendzone__info__title h1{
  transform: scaleX(0.8);
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.3px;
}

.friendzone__info__title h3{
  color: var(--negroMenosIntenso);
  font-size: 13px;
  letter-spacing: 1px;
}

.container__info__details__friendzone{
  width: 820px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.slogan__friendzone h3{
  color: var(--colorPrincipal);
  font-weight: 900;
  font-size: 16px;
}

/* FIN DETALLES DE FRIENDZONE */


/* DETALLES DE GILEOS */

.container__gileos__info{
  background-color: var(--colorSecundario);
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 15px;
}

.gileos__info__title{
  display: flex;
  align-items: center;
}

.gileos__info__title img{
  max-width: 35px;
  width: 100%;
}

.gileos__info__title h1{
  transform: scaleX(0.8);
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.3px;
}

.gileos__info__title h3{
  color: var(--negroMenosIntenso);
  font-size: 13px;
  letter-spacing: 1px;
}

.container__info__details__gileos{
  width: 820px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.slogan__gileos h3{
  color: var(--colorPrincipal);
  font-weight: 900;
  font-size: 16px;
}

.pts_gileos{
  color: var(--rojo);
  font-weight: 900;
  font-size: 16px;
}

/* FIN DETALLES DE GILEOS */

/* DETALLES DE RELACIÓN */

.container__relacion__info{
  background-color: var(--colorSecundario);
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 15px;
}

.relacion__info__title{
  display: flex;
  align-items: center;
}

.relacion__info__title img{
  max-width: 35px;
  width: 100%;
}

.relacion__info__title h1{
  transform: scaleX(0.8);
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.3px;
}

.relacion__info__title h3{
  color: var(--negroMenosIntenso);
  font-size: 13px;
  letter-spacing: 1px;
}

.container__info__details__relacion{
  width: 820px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.slogan__relacion h3{
  color: var(--colorPrincipal);
  font-weight: 900;
  font-size: 16px;
}

.pts_relacion{
  color: var(--rojo);
  font-weight: 900;
  font-size: 16px;
}

.delivery__relacion{
  font-weight: 500;
}

/* FIN DE DETALLES DE RELACIÓN */

/* DETALLES DE DESTINADOS */

.container__destinados__info{
  background-color: var(--colorSecundario);
  max-width: 930px;
  width: 100%;
  margin: 0 auto;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 15px;
}

.destinados__info__title{
  display: flex;
  align-items: center;
}

.destinados__info__title img{
  max-width: 35px;
  width: 100%;
}

.destinados__info__title h1{
  transform: scaleX(0.8);
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 1.3px;
}

.destinados__info__title h3{
  color: var(--negroMenosIntenso);
  font-size: 13px;
  letter-spacing: 1px;
}

.container__info__details__destinados{
  width: 820px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: space-between;
}

.slogan__destinados h3{
  color: var(--colorPrincipal);
  font-weight: 900;
  font-size: 16px;
}

.pts_destinados{
  color: var(--rojo);
  font-weight: 900;
  font-size: 16px;
}

.delivery__destinados{
  font-weight: 500;
}






/* FIN DE DETALLES DE DESTINADOS */



/* ESTILOS DE BENEFICIOS */

.titulo__preguntas__beneficios{
    color: var(--colorPrincipal);
    font-weight: 900;
    transform: scaleY(1.2);
    font-size: 21px;
    margin-bottom: 24px;
}

.container__preguntas__beneficios{
    padding: 0 26px 10px;
    margin-bottom: 16px;
}

.titulo__preguntas__beneficios{
    text-align: center;
}

.container__por__pregunta__beneficios {
    width: 100%;
    border: 3px solid var(--color-gris);
    padding: 6px 14px;
    margin-top: 11px;
  }
  
  .container__por__pregunta__beneficios summary {
    display: flex;
    color: var(--colorPrincipal);
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    transition: color 0.35s;
  }
  
  .container__por__pregunta__beneficios summary::after {
    content: "\276F";
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
    color: var(--colorPrincipal);
    font-size: 13px;
    border-radius: 100%;
    padding: 5px;
    width: 26px;
    background-color: var(--rojo); 
    color:var(--blanco); 
  }
  
  .container__por__pregunta__beneficios[open] summary::after {
    transform: rotate(270deg);
    background-color: var(--colorPrincipal); 
    color: var(--blanco);  
  }
  
  .container__por__pregunta__beneficios[open] {
    border: 2px solid var(--colorSecundario);
  }
  
  .respuesta__preguntas__beneficios {
    overflow: hidden;
    transition: all 0.35s;
    margin-bottom: 5px;
  }
  
  .respuesta__preguntas__beneficios p {
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
  }
  
  .container__por__pregunta__beneficios[open] .respuesta__preguntas__beneficios {
    max-height: 10rem;
  }
  
  .pregunta__beneficios h3 {
    margin-bottom: 8px;
    font-size: 16px;
    transform: scaleY(1);
  }

  .pregunta__beneficios{
    margin-bottom: 13px;
    margin-top: 8px;
  }

  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }


/* FIN EFECTO PREGUNTAS BENEFICIOS */


/* RESPONSIVE DESIGN */

@media (max-width:992px) {

  .container__menu__beneficios{

  }

 
  
}

@media (max-width: 600px) {
  



}