/* ESTILOS DE LOCALES */
:root {
    /* Paleta de colores */
    --color-contrast: #9bb5da;
    --color-gris: #d8d8d8;
    --grisClaro: #A19E9E;
    --blanco: #FFFFFF;
    --negro: #000000;
    --rojo: #E20917;
    --colorPrincipal: #173083;
    --colorSecundario: #FBB905;
    --background: #F6F7F8;
    --negroMenosIntenso: #494b4d;

    /* Paleta de colores: redes sociales */
    --colorFacebook: #314A7E;
    --colorTwitter: #29B6FD;

    /* Tipografias */
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Teko', sans-serif;
    --fuenteTerciaria: 'Dosis', sans-serif;
    --fuenteCuaternaria: 'serif';
}


.container__city_district{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    gap: 80px;
    justify-content: center;
    align-content: center;
}

.hamburger__local{
    background-color: var(--colorPrincipal);
    color: var(--blanco);
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 13px 20px;
    text-align: center;
    border-top-right-radius: 13px;
    border-top-left-radius: 13px;
}

.hamburger__district {
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);
    font-weight: 900;  
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    border-radius: 10px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.hamburger__district.sinpading {
    padding: 0;
}

.hamburger__sede{
    font-size: 16px;
    line-height: 32px;
    cursor: pointer;
    color: var(--colorPrincipal);
}

.container__title__locals{
    background-color: var(--colorPrincipal);
    color: var(--colorSecundario);
    text-align: center;
    padding: 2px 10px;
    font-size: 14px;
    transform: scaleY(1.1);
    margin: 0 auto;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}

.container__lima__hamburguer{
    margin-top: 50px;
}

.container__info__locals{
    background-color: var(--blanco);
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.container__total__locals{
    background-color: var(--background);
    padding-top: 60px;
    padding-bottom: 40px;

}


/* PREGUNTAS FRECUENTES */

.title__questions__locals{
    color: var(--colorPrincipal);
    font-weight: 900;
    transform: scaleY(1.2);
    font-size: 21px;
    margin-bottom: 24px;
    text-align: center;
    margin-top: 100px;
}

.container__questions__locals{
    padding: 0 26px 10px;

}

.container__per__question__locals {
    width: 100%;
    border: 3px solid var(--color-gris);
    padding: 6px 14px;
    margin-top: 11px;
  }
  
  .container__per__question__locals summary {
    display: flex;
    color: var(--colorPrincipal);
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
    transition: color 0.35s;
  }
  
  .container__per__question__locals summary::after {
    content: "\276F";
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
    color: var(--colorPrincipal);
    font-size: 13px;
    border-radius: 100%;
    padding: 5px;
    width: 26px;
    background-color: var(--rojo); 
    color:var(--blanco); 
  }
  
  .container__per__question__locals[open] summary::after {
    transform: rotate(270deg);
    background-color: var(--colorPrincipal); 
    color: var(--blanco);  
  }
  
  .container__per__question__locals[open] {
    border: 2px solid var(--colorSecundario);
  }
  
  .answers__questions__locals {
    overflow: hidden;
    transition: all 0.35s;
    margin-bottom: 5px;
  }
  
  .answers__questions__locals p {
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
  }
  
  .container__per__question__locals[open] .container__per__question__locals {
    max-height: 10rem;
  }
  
  .questions__locals h3 {
    margin-bottom: 8px;
    font-size: 16px;
    transform: scaleY(1);
  }

  .questions__locals{
    margin-bottom: 13px;
    margin-top: 8px;
  }

  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media (max-width:992px) {

    .container__city_district{
        display: flex;
        flex-direction: column;
    }

    .container__total__locals{
        padding-left: 20px;
        padding-right: 20px;
    }



    
  }
  