
/* Aplicando estilos al menú */
body{
    background-color: var(--background);
}

/* ENCABEZADO DE LA SECCIÓN MENÚ */

.container__encabezado__menu{
    width: 100%;
    margin: 0 auto;
}

.contenedor__informacion__encabezado{
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor__menu__cambios{
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 30px;
    width: 100%;
    background-color: var(--blanco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}

.menu__notice{
    display: flex;
    align-items: center;
    width: 36%;
}

.menu__notice h4{
    font-size: 16.5px;
    font-weight: 200;
    margin-right: 20px;
}


.menu__location{
    display: flex;
    align-items: center;
    gap: 9px;
}


.menu__location i{
    font-size: 27px;
    color: var(--negro);
}

.menu__location h2{
    font-size: 17px;
    font-weight: 700;
    color: var(--negro);
    transform: scaleY(1.3);
    letter-spacing: 2px;
}

.contenedor__menu__cambios button{
    background-color: var(--colorPrincipal);
    width: 110px;
    height: 32px;
    text-align: center;
    padding: 9px 10px;
    border-radius: 25px;
    font-size: 13.5px;
    color: var(--blanco);
    border: none;
    cursor: pointer;
    letter-spacing: 1px;
    font-weight: bold;
    transform: scaleY(1.3);
}



/* ELIGE TU MENU BEMBOS */

.contenedor__informacion__encabezado h1{
    transform: scaleY(1.28);
    letter-spacing: 3px;
    font-size: 23px;
    margin-bottom: -8px;
}

.contenedor__informacion__encabezado hr{
    width: 100%;
    border: none;
    margin-bottom: 28px;
    border-top: 1.5px solid var(--negro) ;
}

/* 
ESTILO DE TARJETAS DEL MENÚ */

.contenedor__menu{
   width: 100%;
   margin-bottom: 40px;
}

.container__total__menu{
    max-width: 1280px;
    margin: 0 auto;
    margin-top: 40px;

}

.border__shadow__menu{
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
    border-radius: 10px;
    overflow: hidden;
}

.menu__container__cards{
    display: grid;
    grid-template-columns: repeat(2, 38%); 
    grid-template-rows: repeat(5,1fr);
    column-gap: 18px;
    row-gap: 8px;
    justify-content: center;
    align-content: center;
    width: 100%;
}

 .contenedor__menu__individual h2{
    color: var(--blanco);
    transform: scaleY(1.18);
    text-transform: capitalize;
    font-size: 31px;
    text-align: left;
    line-height: 36px;
    font-weight: 900;
    letter-spacing: 2px;
    margin-top: 25px;
    margin-left: 8px;
    position: absolute;
    margin-left: 25px;
    text-shadow:  -4px -4px 0 var(--rojo), -4px -3px 0 var(--rojo), -4px -2px 0 var(--rojo), -4px -1px 0 var(--rojo), -4px 0 0 var(--rojo), -4px 1px 0 var(--rojo), -4px 2px 0px var(--rojo), -4px 3px 0 var(--rojo), -4px 4px 0 var(--rojo), -3px -3px 0 var(--rojo), -3px -3px 0 var(--rojo),  -3px -1px 0 var(--rojo), -3px 0 0 var(--rojo), -3px 1px 0 var(--rojo), -3px 2px 0 var(--rojo), -3px 3px 0 var(--rojo), -3px 4px 0 var(--rojo), -2px -4px 0 var(--rojo), -2px -3px 0 var(--rojo), -2px -2px 0 var(--rojo), -2px -1px 0 var(--rojo), -2px 0 0 var(--rojo), 2px -4px 0 var(--rojo), 2px -3px 0 var(--rojo), 2px -2px 0 var(--rojo), 2px -1px 0 var(--rojo), 2px 0 0 var(--rojo), 2px 1px 0 var(--rojo), 2px 4px 0 var(--rojo), 3px -4px 0 var(--rojo), 3px -3px 0 var(--rojo), 3px -2px 0 var(--rojo), 3px -1px 0 var(--rojo), 3px 0 0 var(--rojo),3px 4px 0 var(--rojo), 2px -4px 0 var(--rojo), 4px -3px 0 var(--rojo), 4px -2px 0 var(--rojo), 4px -1px 0 var(--rojo), 4px 0 0 var(--rojo), 4px 1px 0 #e3181f, 2px 2px 0 var(--rojo), 4px 3px 0 var(--rojo), 2px 2px 0 var(--rojo);
} 

.contenedor__menu__individual{
    position: relative;
    cursor: pointer;
    text-align: center;
}

.contenedor__menu__individual img{
    overflow-clip-margin: content-box;
    overflow: clip;
    width: 446px;
    height: 505px;
}

.contenedor__menu__individual button{
    background-color: var(--colorPrincipal);
    width: 40%;
    padding: 9px 20px;
    border-radius: 25px;
    font-size: 18px;
    color: var(--blanco);
    border: none;
    cursor: pointer;
    margin-top: 40px;
    font-weight: bold;
    transform: scaleY(1.3);
}


/* RESPONSIVE DESIGN */

@media (max-width:992px) {
    .contenedor__menu__individual h2{
        font-size: 26px;  
        margin-left: 16px;
    } 

    .contenedor__menu__individual img{
        width: 436px;
        height: 485px;
    }

    .menu__container__cards{

        column-gap: 55px;

    }
    
}

@media (max-width: 600px) {

    .menu__container__cards{      
        grid-template-columns: repeat(1, 1fr); 
        align-content: center;
        justify-content: center;
        padding-left: 18px;
        padding-right: 18px;
    }

    .contenedor__menu__individual h2{
        font-size: 25px; 
        transform: scaleY(1.3);
    } 

    .border__shadow__menu{
        text-align: center;
    }

}

