/* Seccion Header Producto */
.header__back {
    background-color: var(--colorPrincipal);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}
.contenedor__header__back {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 1.5rem 0;
}
.header__back__compra__barra {
    display: flex;
    gap: 1rem;
}
.header__back__compra__shopping {
    position: relative;
}
.header__back__compra__shopping span {
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);
    font-size: 1rem;
    padding: .3rem .5rem;
    border-radius: 50%;
    position: absolute;
    right: -.5rem;
    top: -1rem;
    font-weight: 700;
}
.header__back i {
    color: var(--blanco);
    cursor: pointer;
}

/* Secuencia Navegacion */
.contenedor__header__back__navegacion {
    background-color: var(--blanco);
    padding: .8rem 0 .8rem .8rem;
}
.header__back__navegacion {
    font-size: 1.2rem;
    font-family: var(--fuenteTerciaria);
}
.header__back__navegacion a {
    text-decoration: underline;
    color: var(--colorPrincipal);
}

/* Seccion Item */
.seccion__item {
    display: flex;
    flex-direction: column;
}
@media (min-width: 992px) {
    .seccion__item {
        flex-direction: row;
        gap: 2rem;
    }
}
.seccion__item__contenedor__imagen {
    width: 100%;
    height: 35rem;
    overflow: hidden;
    position: fixed;
    z-index: 50;
    /* left: 0; */
}
@media (min-width: 992px) {
    .seccion__item__contenedor__imagen {
        position: relative;
        width: 30%;
        margin-top: 4rem;
        border-radius: 2rem;
        overflow: hidden;
    }
}
.seccion__item__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
@media (min-width: 992px) {
    .seccion__item__imagen {
        position: fixed;
        width: 30rem;
        height: 30rem;
        border-radius: 2rem;
    }
}
.seccion__item__imagen__contenedor {
    position: absolute;
    top: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}
.seccion__item__imagen__info,
.seccion__item__imagen__terminoscondiciones {
    color: var(--blanco);
    text-decoration: underline;
    font-size: 1.5rem;
    cursor: pointer;
}
@media (min-width: 992px) {
    .seccion__item__imagen__info,
    .seccion__item__imagen__terminoscondiciones {
        display: none;
    }
}
.seccion__item__imagen__info i {
    color: var(--blanco);
}
.seccion__item__contenedor__contenido {
    z-index: 51;
    width: 100%;
}
@media (min-width: 992px) {
    .seccion__item__contenedor__contenido {
        width: 70%;
    }
}
.seccion__item__contenido {
    margin-top: 33.5rem;
    background-color: var(--blanco);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 1rem 1rem 1rem 1rem;
    width: 100%;
}
@media (min-width: 992px) {
    .seccion__item__contenido {
        margin-top: 2rem;
        margin-bottom: 10rem;
    }
}

/* Footer Operaciones */
.footer__contenedor__operaciones {
    display: flex;
    justify-content: space-around;
    background-color: var(--background);
    position: fixed;
    bottom: 0;
    z-index: 52;
    width: 100%;
    padding: 1rem 0;
    box-shadow: 0px 1px 8px 1px rgba(161, 158, 158, 0.86);
    -webkit-box-shadow: 0px 1px 8px 1px rgba(161, 158, 158, 0.86);
    -moz-box-shadow: 0px 1px 8px 1px rgba(161, 158, 158, 0.86);
}
@media (min-width: 992px) {
    .footer__contenedor__operaciones {
        justify-content: center;
        gap: 6rem;
    }
}
.footer__operaciones {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}
.footer__operaciones button {
    /* padding: 1rem; */
    font-size: 1.6rem;
    font-weight: 700;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
}
.footer__operaciones p {
    font-size: 1.5rem;
    font-weight: 700;
}
.footer__agregarproducto {
    display: flex;
    flex-direction: column;
    gap: .3rem;
    align-items: center;
}
.agregarproducto__acumulado {
    color: var(--rojo);
    font-size: 1.5rem;
    text-transform: uppercase;
}
.agregarproducto__monto {
    color: var(--blanco);
    background-color: var(--colorPrincipal);
    border: none;
    outline: none;
    padding: 1.2rem 4rem;
    font-size: 2rem;
    text-transform: uppercase;
    border-radius: 3rem;
    font-family: var(--fuenteSecundaria);
    cursor: pointer;
}

/* Producto */
.seccion__item__contenido__titulo {
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    color: var(--colorPrincipal);
    font-weight: 700;
    padding: 1rem 0;
    border-bottom: 1px solid var(--negro);
}
.seccion__item__opciones {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Seccion de opciones */
.item__opciones{
    width: 100%;
}
.item__opciones__pregunta {
    display: flex;
    color: var(--colorPrincipal);
    cursor: pointer;
    justify-content: space-between;
    border-bottom: 1px solid var(--negro);
    padding-bottom: 1.5rem;
}
.item__opciones__pregunta__contenedor {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.item__opciones__pregunta__numeracion {
    background-color: var(--colorSecundario);
    font-size: 1.5rem;
    font-weight: 700;
    /* padding: .5rem; */
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item__opciones__pregunta::after {
    content: "\276F";
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
    color: var(--colorPrincipal);
    font-size: 2.3rem;
}
.item__opciones[open] summary::after {
    transform: rotate(270deg);
}
.item__opciones__pregunta__titulo{
    text-align: justify;
    font-size: 1.6rem;
    text-transform: uppercase;
    font-weight: 700;
}
.item__opciones__respuestas{
    padding-top: 1rem;
}

/* Combinaciones */
.item__opciones__respuestas__contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}
.item__opcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.item__opcion.seleccionado {
    border: 2px solid var(--colorPrincipal);
}
.item__opcion__titulo {
    font-size: 1.3rem;
    text-align: center;
}

/* Modal */
.modal__compra {
    width: 30rem;
}
@media (min-width: 768px) {
    .modal__compra {
        width: 50rem;
    }
}
@media (min-width: 992px) {
    .modal__compra {
        width: 70rem;
    }
}
.modal__compra__producto__imagen__contenedor {
    width: 15rem;
    height: 15rem;
    border-radius: 2rem;
    overflow: hidden;
}
@media (min-width: 992px) {
    .modal__compra__producto__imagen__contenedor {
        width: 20rem;
        height: 20rem;
    }
}
.modal__compra__producto__imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}
.modal__compra .sk-cube-grid {
    width: 13rem;
    height: 13rem;
}
@media (min-width: 768px) {
    .modal__compra .sk-cube-grid {
        width: 20rem;
        height: 20rem;
    }
}
.modal__compra__contenido {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.modal__compra__producto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
}
@media (min-width: 768px) {
    .modal__compra__producto {
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }
}
@media (min-width: 768px) {
    .modal__compra__producto {
        gap: 4rem;
    }
}
.modal__compra__producto__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal__compra__producto__aviso {
    color: var(--negroMenosIntenso);
    text-transform: uppercase;
    font-size: 2rem;
    margin-top: 1rem;
    font-family: var(--fuenteSecundaria);
}
@media (min-width: 992px) {
    .modal__compra__producto__aviso {
        font-size: 3rem;
    }
}
.modal__compra__producto__contenido {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
@media (min-width: 992px) {
    .modal__compra__producto__contenido {
        font-size: 3rem;
    }
}
.modal__compra__producto__nombre {
    color: var(--colorPrincipal);
    font-family: var(--fuenteTerciaria);
    font-weight: 700;
    font-size: 2.2rem;
}
@media (min-width: 992px) {
    .modal__compra__producto__nombre {
        font-size: 3.2rem;
    }
}
.modal__compra__producto__bolsa {
    color: var(--negro);
    font-weight: 700;
}
.modal__compra__redireccionamiento {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
@media (min-width: 768px) {
    .modal__compra__redireccionamiento {
        flex-direction: row;
    }
}
.compra__redireccionamiento__seguircomprando,
.compra__redireccionamiento__bolsa {
    width: 80%;
    text-align: center;
    padding: 1rem 0;
    border-radius: 2rem;
    color: var(--blanco);
    font-size: 1.3rem;
    text-transform: uppercase;
    font-family: var(--fuenteTerciaria);
    font-weight: 700;
}
@media (min-width: 992px) {
    .compra__redireccionamiento__seguircomprando,
    .compra__redireccionamiento__bolsa {
            font-size: 1.8rem;
        }
    }
.compra__redireccionamiento__seguircomprando {
    background-color: var(--colorPrincipal);
}
.compra__redireccionamiento__bolsa {
    background-color: var(--colorSecundario);
}
.modal__custom__compra {
    border-radius: 2rem;
}