/* PROMO Y SOCIAL MEDIA DEL HOME */

.contenedor__principal{
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
}

.contenedor__promo{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--colorPrincipal);
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.image__promo__container{
    max-width: 100%;
    width: 100%;
}

.image__promo{
    max-width: 100%;
    object-fit: cover;
}

.container__letter__promo{
    display: flex;
    max-width: 400px;
    width: 100%;
}

.ticket{
    max-width: 95px;
}


.ticket__promo__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
    margin: 10px;
}

.ticket__promo__container h2{
    color: var(--blanco);
    font-size: min(20px, 5vh);
    transform: scaleY(1.15);
    letter-spacing: 1px;
    line-height: 30px;
}

.ticket__promo__container span{
    color:var(--colorSecundario);
}

.ticket__tablet__mobile{
    display: none;
    max-width: 95px;
}

/* SOCIAL MEDIA _HOME
 */

 .container__social{
    border: 0.3px solid var(--colorPrincipal);
    margin-top: 35px; 
    display: flex;
    align-items: center;
    align-items: center;
    border-radius: 10px;
    margin: 24px auto;
    width: 1140px;
    max-width: 100%;
    cursor: pointer;
}

 .social__bembos__details{
    width: 25%;
    height: 225px;
    display: flex;
    flex-direction: column;
    margin-right: 80px;
    background-color: var(--colorSecundario);
    border-radius: 10px 0px 0px 10px;
    padding: 30px;
 }

 .bembos__details{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
 }


 .social__bembos__details h1{
    color: var(--colorPrincipal);
    transform: scaleY(1.24);
    line-height: 21px;
    font-size: 26px;
    margin-bottom: 16px;
 }

 .social__bembos__details p{
    color: var(--colorPrincipal);
    transform: scaleY(1.24);
    font-weight: bold;
 }

 .social__link__twitter button, .social__link__facebook button{
    color: var(--blanco);
    width: 110px;
    height: 23px;
    border: none;
    border-radius: 5px;
 }

 .icon__social__home{
    color: var(--blanco);
    font-size: 10px;
    margin-right: 5px;
 }


 .social__link__twitter button{
    background-color: var(--colorTwitter);
    margin-top: 11px;
    margin-bottom: 11px;
 }

 .social__link__facebook button{
    background-color: var(--colorFacebook);
 }

 /* SOCIAL BEMBOS - FACEBOOK */

 .button__seguir__pagina{
    display: flex;
    position: relative;
    margin-left: 10px;
    align-items: center;
 }

.button__compartir{
    display: flex;
    position: relative;
    align-items: center;
}

 .button__seguir__pagina button{
    padding-left: 26px;
    padding-right: 7px;
    width: 113px;
    height: 26px;
    border: 1px solid var(--color-gris);
    font-weight: 600;
    font-size: 12.5px;
    text-align: right;
    color: var(--negroMenosIntenso);
    cursor: pointer;
    
 }

 .button__compartir button{
    width: 86px;
    height: 26px;
    padding-right: 9px;
    border: 1px solid var(--color-gris);
    color: var(--negroMenosIntenso);
    font-weight: bold;
    font-size: 11.5px;
    text-align: right;
    cursor: pointer;
 }


 .container__red__social{
    border: 1px solid var(--color-gris);
    position: relative;
 }

 .container__red__social img{
    cursor: default;
 }

 .bembos__titulo__social h1{
    position: absolute;
    margin-top: -120px;
    margin-left: 63.5px;
    font-weight: 500;
    transform: scale(0.95);
    color: var(--colorPrincipal);
    background-color: var(--blanco);
 }

 .bembos__titulo__social h1:hover{
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
 }



.container__button__social__media{
    display: flex;
    align-items: center;
    position: absolute;
    gap: 282px;
    top: 94px;

}

.icono__redes__facebook{
    color: var(--colorPrincipal);
    font-size: 13px;
    position: absolute;
    left: 10px;
}

.icono__redes__compartir{
    color: var(--negroMenosIntenso);
    font-size: 11px;
    position: absolute;
    left: 6px;
}

 .container__footer__mobile__above{
    display: none;
 }


/* RESPONSIVE DESIGN */

@media (max-width:992px) {

    .contenedor__principal{
        margin: 0 auto;
        padding: 0 20px;
        display: flex;
        justify-content: center; 
    }
    
    .contenedor__promo{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        align-items: center;
    }

    .ticket__promo__container{
        max-width: 100%;
        margin: 30px auto;
        justify-content: center;
    }

    .image__promo__container{
        max-width: 100%;
        width: 100%;
        text-align: center;
    }

    .image__promo{
        max-width: 100%;
        height: auto;
        margin: 0 auto;

    }

    .container__letter__promo{
        max-width: 100%;
        justify-content: center;
        align-items: center;
        gap: 30px;
        text-align: left;
    }

    .ticket{
        display: none;
    }

    .ticket__tablet__mobile{
        display: block;
        max-width: 14%;
    }

    .container__social{
        display:none;
    }

}


@media (max-width:600px){

    .ticket__promo__container {
        max-width: 100%;
        margin: 24px 0;
    }
    
    .ticket__promo__container h2{
        font-size: min(15px, 5vw);
        transform: scaleY(1.15);
        letter-spacing: normal;
        line-height: 18px;   
    }

    .container__letter__promo{
        max-width: 90%;
        gap: 16px;
    }

    .ticket{
        display: none;
    }

    .ticket__tablet__mobile{
        display: block;
        max-width: 18%;
    }

    .container__all__footer__mobile{
        max-width: 1140px;
        width: 100%;
    }

    .container__footer__mobile__above{
        display: block;
        background-color: var(--colorPrincipal);
        color: var(--blanco);
        margin-bottom: -5px;
        max-height: 740px;
     }

     .footer__icons__container{
        padding-top: 40px;
     }

     .derechos__footer__only__mobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
     }

     .derechos__footer__only__mobile p{
        color: var(--color-contrast);
        font-size: 13.5px;
        transform: scaleY(1.1);
     }

     .derechos__footer__only__mobile hr{
        color: var(--blanco);
        margin-top: 40px;
        margin-bottom: 20px;
        width: 95%;
        max-height: 1.2px;
        opacity: 0.5;
     }



   /*   .footer__derechos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 40px;
    }
    
    .footer__derechos p {
        color: var(--color-contrast);
        font-size: 13.5px;
        transform: scaleY(1.1);
    }
    
    hr {
        color: var(--blanco);
        margin-top: 20px;
        margin-bottom: 20px;
        width: 95%;
        height: 1px;
        opacity: 0.5;
    }
 */
     
}