/* ESTILOS PARA LAS PROMOCIONES */

:root {
    /* Paleta de colores */
    --color-contrast: #9bb5da;
    --color-gris: #d8d8d8;
    --grisClaro: #A19E9E;
    --blanco: #FFFFFF;
    --negro: #000000;
    --rojo: #E20917;
    --colorPrincipal: #173083;
    --colorSecundario: #FBB905;
    --background: #F6F7F8;
    --negroMenosIntenso: #494b4d;

    /* Paleta de colores: redes sociales */
    --colorFacebook: #314A7E;
    --colorTwitter: #29B6FD;

    /* Tipografias */
    --fuentePrincipal: 'Roboto', sans-serif;
    --fuenteSecundaria: 'Teko', sans-serif;
    --fuenteTerciaria: 'Dosis', sans-serif;
    --fuenteCuaternaria: 'serif';
}


/* Menú con categoría de productos */

.container__todo__pagina__promociones{
    
    margin: 0 auto;
    width: 100%;

}

.container__details__promociones{
    max-width: 1200px;
    margin: 0 auto;
}

.contenedor__total__promociones{
    width: 100%;
    margin: 0 auto;
    background-color: var(--blanco) ;
    padding-top: 25px;
    padding-bottom: 25px;
}

.contenedor__promociones__seleccion{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 28px;
    max-width: 90%;
    padding: 0 16px;
}

.contenedor__promociones__seleccion button{
    color: var(--negro);
    background-color: var(--gris);
    border: 2px solid var(--color-gris);
    border-radius: 20px;
    width: 100%;
    max-width: 218px;
    height: 40px;
    font-size: 1.4em;
    cursor: pointer;
    font-family: var(--fuentePrincipal);
    font-weight: 700;
}

.contenedor__promociones__seleccion button:active{

   background-color: var(--colorSecundario); 
}

.contenedor__promociones__seleccion button:target{

   background-color: var(--colorSecundario);
}

/* MENÚ CON CATEGORÍA DE PRODUCTOS__SOLO MOBILE */

.contenedor__menu__promociones__mobile
{
    display: none;
}

/* AVISO DE PROMOCIÓN */

.contenedor__total__promo__buscar{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 25px;
    padding: 0 85px;
}


.contenedor__texto__promocion__especial {
    width: 100%;
}


.texto__solo__computadora, .texto__solo__mobile {
    color: var(--colorPrincipal);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transform: scaleY(1.2);
    margin-left: 200px;
}

.texto__solo__mobile{
    display: none;
}

.contenedor__buscar__producto{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.contenedor__buscar__producto input{

    padding: 13px 15px 13px 20px;
    font-size: 15px;
    border-radius: 23px;
    width: 250px;
    border: 1px solid var(--grisClaro); 
}

.icono__buscar{
    position: absolute;
    right: 10px;
    font-size: 15px;

}

.separador__encabezado__promo__buscador{
    margin: 0 auto;
    max-width: 100%;
    padding: 0 16px;
    margin-bottom: 30px;
}

.separador__promociones__hamburguesas{
   margin: 0 auto;
   max-width: 90%;
   margin-bottom: 50px;
   
}

.separador__solo__tablet{
    display: none;
    width: 90%;
    margin: 0 auto;
}

.container__solo__tablet{
    display: none;
}

/* LISTA DE PROMOCIONES - PERSONALES / PARA DOS/ PARA COMPARTIR */

.promociones__categoria__total{
    max-width: 100%;
}

.contenedor__promociones__categorias{
   max-width: 90%;
   margin: 0 auto;
}

.titulo__promociones__lista{
    width: 100%;
}


.titulo__promociones__lista h1{
    transform: scaleY(1.2);
}

.contenedor__promocion__categoria{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.separador__promociones__categorias{
    width: 100%;
}

.contenedor__promocion__categoria h3{
    font-size: 19px;
    transform: scaleY(1.1);
    text-align: left;
}

.contenedor__promocion__categoria i{
    font-size: 28px;
    color: var(--colorPrincipal);
}


/* PROMOCIONES PERSONALES - INICIO */

.contenedor__info__details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanco);
    padding-right: 25px;
    padding-left: 14px;
 
}

.general__container__promo__personal{
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(226, 223, 223);
    box-shadow: 2px 2px 13px rgba(189, 189, 189, 0.6);
    /* height: 220px; */
    border-radius: 20px;
    overflow: hidden;
    /* margin-bottom: 30px; */
}

.contenedor__imagen__promo__personal{
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.imagen__promo__personal{
    object-fit: cover;
    width: 210px;
    height:230px;
}

.contenedor__promo__personal__img{
    position: relative;
}

.contenedor__precios__promo{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 148px;
    max-width: 160px;
    width: 100%;
}

.button__promo__personal{
    background-color: var(--colorPrincipal);
    color: var(--blanco);
    height: 35px;
    font-size: 14px;
    width: 150px;
    max-width: 100%;
    margin-top: -10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.precios__promo__personal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
    gap: 15px;
}

.container__total__promo__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
}

.precio__actual{
    font-size: 20px;
    font-weight: 900;
}

.precio__antiguo{
    color: var(--rojo);
    font-size: 900;

}

.promo__personal__details{
    margin-bottom: 25px;
    margin-right: 10px;
}

.titulo__promo{
    transform: scaleY(1.1);
    font-size: 15px;
    margin-bottom: 10px;

}

.descripcion__promo{
    font-size: 11px;
    color: var(--negroMenosIntenso);
    line-height: 16px;
    max-width:120px;
    width:100%;
}

.contenedor__precios__promo h4{
    color: var(--blanco);
    background-color: var(--rojo);
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: -9px;
    border-radius: 20px;
    max-width: 55px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor__precios__promo p{
    color: var(--blanco);
    margin-top: 30px;
    cursor: pointer;
}



/* PROMOCIONES PERSONALES - FIN */

/* PROMOCIONES PARA DOS - INICIO ---------------------------*/

.contenedor__info__details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanco);
    padding-right: 40px;
    padding-left: 14px;
 
}

.general__container__promo__personal{
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(226, 223, 223);
    box-shadow: 2px 2px 13px rgba(189, 189, 189, 0.6);
    /* margin-right: 60px; */
    width: 100%;
    max-width: 430px;
    height: 220px;
    border-radius: 20px;
    overflow: hidden;
    /* margin-bottom: 30px; */
    
}

.prueba {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.contenedor__imagen__promo__personal{
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    margin-right: 20px;
}

.imagen__promo__personal{
    object-fit: cover;
    width: 210px;
    height:230px;
}

.contenedor__promo__personal__img{
    position: relative;
}

.contenedor__precios__promo{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 148px;
    max-width: 160px;
    width: 100%;
}

.button__promo__personal{
    background-color: var(--colorPrincipal);
    color: var(--blanco);
    height: 35px;
    font-size: 14px;
    width: 150px;
    max-width: 100%;
    margin-top: -10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.precios__promo__personal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
    gap: 15px;
}

.container__total__promo__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
}

.precio__actual{
    font-size: 20px;
    font-weight: 900;
}

.precio__antiguo{
    color: var(--rojo);
    font-size: 900;

}

.promo__personal__details{
    margin-bottom: 25px;
    margin-right: 10px;
}

.titulo__promo{
    transform: scaleY(1.1);
    font-size: 15px;
    margin-bottom: 10px;

}

.descripcion__promo{
    font-size: 11px;
    color: var(--negroMenosIntenso);
    line-height: 16px;
    max-width:120px;
    width:100%;
}

.contenedor__precios__promo h4{
    color: var(--blanco);
    background-color: var(--rojo);
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: -9px;
    border-radius: 20px;
    max-width: 55px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor__precios__promo p{
    color: var(--blanco);
    margin-top: 30px;
    cursor: pointer;
}

/* PROMOCIONES PARA DOS - FIN --------------------------------*/



/* PROMOCIONES PARA COMPARTIR - INICIO  ------------------------*/

.contenedor__compartir__details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blanco);
    padding-right: 20px;
    padding-left: 14px;
    max-width: 220px;
    width: 100%;
}

.image__web{
    width: 60px;
}

.contenedor__exclusivo__web{
    display: flex;
    align-items: center;
;
}

.general__container__compartir{
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(226, 223, 223);
    box-shadow: 2px 2px 13px rgba(189, 189, 189, 0.6);
    margin-right: 30px;
    max-width: 500px;
    height: 220px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 40px;
    background-color: var(--blanco);
    
}

.contenedor__imagen__compartir{
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.imagen__compartir{
    object-fit: cover;
    width: 210px;
    height:230px;
}

.contenedor__compartir__img{
    position: relative;
}

.contenedor__precios__compartir{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 140px;
    max-width: 160px;
    width: 100%;
    margin-top: 6px;
}

.button__compartir__promo{
    background-color: var(--colorPrincipal);
    color: var(--blanco);
    height: 35px;
    font-size: 14px;
    width: 150px;
    max-width: 100%;
    margin-top: -10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.precios__promo__personal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
    gap: 15px;
}

.container__total__promo__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
}

.precio__actual__compartir{
    font-size: 20px;
    font-weight: 900;
}

.precio__antiguo__compartir{
    color: var(--rojo);
    font-size: 900;

}

.promo__compartir__details{
    margin-bottom: 25px;

}

.titulo__compartir__azul{
    transform: scaleY(1.1);
    font-size: 15px;
    margin-bottom: 10px;
    color: var(--colorPrincipal);

}

.titulo__compartir__negro{
    transform: scaleY(1.1);
    font-size: 15px;
    margin-bottom: 10px;

}

.descripcion__compartir{
    font-size: 11px;
    color: var(--negroMenosIntenso);
    line-height: 16px;
    max-width:120px;
    width:100%;
}

.contenedor__precios__compartir h4{
    color: var(--blanco);
    background-color: var(--rojo);
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: -9px;
    border-radius: 20px;
    max-width: 55px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor__precios__compartir p{
    color: var(--blanco);
    margin-top: 30px;
    cursor: pointer;
}


.terminos__blanco{
    color: var(--blanco);
    font-weight: bold;
}

.terminos__negro{
    color: var(--negro);
    font-weight: bold;
}

.web__special__image{
    max-width:90px;
    width: 100%;
    margin-left: 70px;
}

.image__solo__web{
    max-width: 75px;
    width: 100%;
}
/* PROMOCIONES PARA COMPARTIR - FIN */


/* CUPONES ----------------------------------*/

.cupon__info__details{
    display: flex;
    flex-direction: column;
    padding-right: 25px;
    padding-left: 14px;
    text-align: left;
 
}

.general__container__cupon__personal{
    display: flex;
    align-items: center;
    border: 1.5px solid rgb(226, 223, 223);
    box-shadow: 2px 2px 13px rgba(189, 189, 189, 0.6);
    margin-right: 30px;
    max-width: 430px;
    height: 275px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 30px;
    background-color: var(--blanco)
    
}

.contenedor__imagen__cupon__personal{
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
}

.imagen__cupon__personal{
    object-fit: cover;
    width: 210px;
    height:230px;
}

.aviso__cupon{
    margin-top: 5px;
    margin-bottom: 17px;
}

.contenedor__cupon__personal__img{
    position: relative;
}

.contenedor__precios__cupon{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 148px;
    max-width: 160px;
    width: 100%;
}

.button__cupon__personal{
    background-color: var(--colorPrincipal);
    color: var(--blanco);
    height: 35px;
    font-size: 14px;
    width: 150px;
    max-width: 100%;
    margin-top: -10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.precios__cupon__personal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 25px;
    gap: 15px;
}

.container__total__cupon__button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
}

.precio__actual__cupon{
    font-size: 20px;
    font-weight: 900;
}

.precio__antiguo__cupon{
    color: var(--rojo);
    font-size: 900;
    text-decoration: line-through;
}

.promo__personal__details{
    margin-bottom: 25px;
    margin-right: 10px;
}

.titulo__cupon{
    transform: scaleY(1.1);
    font-size: 15px;
    margin-bottom: 10px;

}

.descripcion__cupon{
    font-size: 11px;
    color: var(--negroMenosIntenso);
    line-height: 16px;
    max-width:120px;
    width:100%;
}


.precios__cupon__descuento{
    color: var(--blanco);
    text-align: center;
    font-size: 14px;
    position: absolute;
    left: -9px;
    border-radius: 20px;
    max-width: 55px;
    height: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--rojo);

}

.contenedor__precios__cupon p{
    color: var(--blanco);
    margin-top: 30px;
    cursor: pointer;
}

.contenedor__cupon__details{
    width: 240px;
}
.entel__image{
    width: 155px;
    margin-bottom: 20px;
}

.descuento__img{
    position: absolute;
    color: white;
}


/* FIN DE CUPONES ------------------------------------*/


/* PROMOCIONES DE COMPLEMENTOS */

.menu__container__complementos{
    padding: 0 30px;
    margin-top: 20px;
    margin-bottom: 45px;
}

.contenedor__img{
    overflow: hidden;
    max-height: 180px;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.img__complementos{
    width: 100%;
    height:360px;
    object-fit: cover;
}

.terminos__condiciones__complementos{
    position: absolute;
    color: var(--blanco);
    font-size: 9px;
    bottom: 16px;
    transform: scaleY(1.2);
    cursor: pointer;
}

.contenedor__card__complementos{
    margin-right: 60px;
    max-width: 20rem;
    width: 100%;
    overflow: hidden;
    border: 1.8px solid rgb(225, 225, 225);
    border-radius: 13px;
    cursor: pointer;
    box-shadow: 4px 4px 13px rgba(209, 209, 209, 0.6);
}

.card__info__details{
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px 30px;
}

.titulo__complementos{
    font-size: 13px;
    transform: scaleY(1.2);
}
.precio__complementos{
    font-weight: 900;
    transform: scaleX(0.85);
    font-size: 23px;
}

.button__complementos{
    background-color: var(--colorPrincipal);
    color: var(--blanco);
    height: 35px;
    font-size: 14px;
    border-radius: 20px;
    margin-top: -10px;
    border: none;
}

/* FIN DE PROMOCIONES DE COMPLEMENTOS */


/* PREGUNTAS FRECUENTES DE PROMOCIONES DELIVERY ONLINE */

.container__preguntas__frecuentes{
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 18px;
    margin-bottom: 60px;
    margin-top: 50px;
}

.titulo__preguntas__frecuentes{
    text-align: center;
    margin-bottom: 35px;
    color: var(--colorPrincipal);
    font-weight: 900;
    transform: scaleY(1.2);
    font-size: 20px;
}


/* EFECTO DE PREGUNTAS FRECUENTES */

.container__por__pregunta{
    width: 100%;
}

.container__por__pregunta summary {
    display: flex;
    color: var(--colorPrincipal);
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
}

.container__por__pregunta summary::after {
    content: "\276F";
    text-align: center;
    transform: rotate(90deg);
    transition: all 0.35s;
    color: var(--colorPrincipal);
    font-size: 23px;
}

.container__por__pregunta[open] summary::after {
    transform: rotate(270deg);
}

.respuesta__preguntas__promos {
    overflow: hidden;
    transition: all 0.35s;
    width: 100%;
    margin-bottom: 16px;
}

.respuesta__preguntas__promos p {
    font-size: 13px;
    line-height: 20px;
    text-align: justify;
}

.container__por__pregunta[open] .respuesta__preguntas__promos {
    max-height: 10rem;
}

.pregunta__frecuente h3{
    margin-bottom: 16px;
    text-align: justify;
    font-size: 15px;
    transform: scaleY(1);
}


@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.separador__por__pregunta{
    width: 100%;
    margin-top: 2px;
}



/* FIN EFECTO PREGUNTAS FRECUENTES */

/* RESPONSIVE DESIGN */

@media (max-width:992px) {

 
    .container__solo__tablet{
        display: block;
        display: flex;
        align-items: center;
        align-content: center;
        margin-left: -40px;
    }

    .container__ocultar__promo__buscar{
        display: none;
    }

    .container__total__promo__buscar{
        display: grid;
    }

    .container__buscar__producto__tablet{
        margin-left: 40px;
    }

    .texto__solo__tablet{
        margin-left: 60px;
        font-size: 21px;
    }

    .separador__solo__tablet{
        display: block;
    }

    
}

@media (max-width: 600px) {
    
.contenedor__total__promo__buscar{
    display: flex;
    flex-direction: column-reverse;
}

.contenedor__buscar__producto{
    margin-bottom: 20px;
    width: 100%;
}

.contenedor__buscar__producto input{

    padding: 13px 15px 13px 20px;
    font-size: 15px;
    border-radius: 23px;
    width: 100%;
    border: 1px solid var(--grisClaro); 
}

.contenedor__texto__promocion__especial {
    width: 100%;

}

.contenedor__texto__promocion__especial p{

    margin-left: 0px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 13px;
}

.contenedor__total__promo__buscar{

    margin-top: 30px;
    margin-bottom: 25px;
    padding: 0 20px;
}

.contenedor__total__promociones{
    display: none;
}

.texto__solo__computadora{
    display: none;
}

.texto__solo__mobile{
    display: block;
    font-size: 20px;
}

.container__solo__tablet{
    display: none;
    margin-left: -80px;
}

.separador__promociones__hamburguesas{
    display: none;
 }

 .separador__solo__tablet{
    display: none;
 
}



/* PROMOCIONES__MENU */

.contenedor__total__promociones{
    display: none;
}

.contenedor__menu__promociones__mobile
{
    display: block;
    padding: 0px 0px 0px 20px;
    width: 100%;
}

.contenedor__button__menu__mobile{
    padding-right: 2rem;
}

.contenedor__button__menu__mobile button{
    background-color: var(--gris);
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 17px;
    font-weight: bolder;
    border: 2px solid var(--color-gris) ;

}

.contenedor__button__menu__mobile button:active{
    background-color: var(--colorSecundario);
}

.contenedor__button__menu__mobile button:target{
    background-color: var(--colorSecundario);
}



}