/* Seccion Navegacion */
.seccion__navegacion__index {
    padding: 2rem 0 1rem 0;
    display: flex;
    justify-content: space-around;
}
.seccion__navegacion__index .links__opcion:hover {
    scale: 1.1;
}
.seccion__navegacion__index .links__opcion__link {
    display: flex;
    flex-direction: column;
}
.seccion__navegacion__index .links__opcion__imagen__contenedor {
    display: flex;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    padding: 1.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 12px 2px rgba(161,158,158,0.81);
    -webkit-box-shadow: 0px 0px 12px 2px rgba(161,158,158,0.81);
    -moz-box-shadow: 0px 0px 12px 2px rgba(161,158,158,0.81);
}
.seccion__navegacion__index .links__opcion__imagen {
    scale: 1.1;
}
@media (min-width: 768px) {
    .seccion__navegacion__index .links__opcion__imagen__contenedor {
        width: 7rem;
        height: 7rem;
    }
    .seccion__navegacion__index .links__opcion__imagen {
        scale: 1.2;
    }
}
.seccion__navegacion__index .links__opcion__texto {
    color: var(--colorPrincipal);
    font-size: 1.1rem;
}
@media (min-width: 768px) {
    .seccion__navegacion__index .links__opcion__texto {
        font-size: 1.5rem;
    }
}
.seccion__navegacion__index .links__opcion:hover {
    border-bottom: none;
}

/* Seccion Promociones Online */
.seccion__promociones__online {
    margin-top: 2rem;
}
@media (min-width: 992px) {
    .seccion__promociones__online {
        margin-top: 6rem;
    }
}
.promociones__online__titulo {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: var(--fuenteTerciaria);
}
@media (min-width: 768px) {
    .promociones__online__titulo {
        font-size: 2.5rem;
    }
}

/* Seccion Menu Burguer Online */
.seccion__menuburguer__online {
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.menuburguer__online__titulo {
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2.2rem;
    font-family: var(--fuenteTerciaria);
}
@media (min-width: 768px) {
    .menuburguer__online__titulo {
        font-size: 2.5rem;
    }
}
.tarjeta__titulo__menuburguer {
    min-height: 4rem;
    font-size: 1.8rem;
}
@media (min-width: 768px) {
    .tarjeta__titulo__menuburguer {
        min-height: 6rem;
        font-size: 2.4rem;
    }
}
@media (min-width: 992px) {
    .tarjeta__titulo__menuburguer {
        min-height: 6.5rem;
        font-size: 2.8rem;
    }
}