:root {
    --color-contrast: #9bb5da;
    --color-gris: #d8d8d8;
    --grisClaro: #A19E9E;
    --blanco: #FFFFFF;
    --negro: #000000;
    --rojo: #E20917;
    --colorPrincipal: #173083;
    --colorSecundario: #FBB905;
    --fuentePrincipal: 'Roboto', sans-serif;
}

/*
AJUSTES GENERALES */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--fuentePrincipal);
    width: 100%;
}

img {
    max-width: 100%;
    display: block;
}

i {
    color: var(--colorPrincipal);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Utilitarios */
.contenedor {
    width: 97%;
    max-width: 115rem;
    margin: 0 auto;
}

/********/

/************ Seccion Header *************/
.header {
    position: fixed;
    background-color: var(--blanco);
    width: 100%;
    border-bottom: 1px solid var(--grisClaro);
    box-shadow: 0px 1px 8px 1px rgba(161, 158, 158, 0.86);
    -webkit-box-shadow: 0px 1px 8px 1px rgba(161, 158, 158, 0.86);
    -moz-box-shadow: 0px 1px 8px 1px rgba(161, 158, 158, 0.86);
}

@media (min-width: 992px) {
    .header {
        background-color: var(--colorPrincipal);
    }
}

.header__atencion {
    background-color: var(--negro);
    padding: 1rem 0;
    overflow: hidden;
}

.atencion__imagen {
    margin: 0 auto;
    scale: 1.3;
}

.header__barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.8rem 1rem;
}

@media (min-width: 992px) {
    .header__barra {
        background-color: var(--colorPrincipal);
    }
}

.barra__logo {
    background-image: url(../src/img/logo_bembos_mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 8rem;
    height: 3rem;
}

@media (min-width: 768px) {
    .barra__logo {
        width: 13rem;
        height: 5rem;
    }
}

@media (min-width: 992px) {
    .barra__logo {
        background-image: url(../src/img/logo_bembos_desktop.png);
        width: 14rem;
        height: 5rem;
    }
}

.barra__botonsincolas {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .8rem 1.5rem;
    background-color: var(--colorSecundario);
    outline: none;
    border: none;
    color: var(--colorPrincipal);
    font-size: 1.2rem;
    border-radius: 3rem;
    cursor: pointer;
}

.barra__botonsincolas__informacion span {
    display: block;
    color: var(--rojo);
    font-weight: 700;
}

.barra__botonsincolas i {
    font-size: 2rem;
}

@media (min-width: 768px) {
    .barra__botonsincolas {
        padding: 1rem 2rem;
    }
}

@media (min-width: 992px) {
    .barra__botonsincolas {
        display: none;
    }
}

.barra__navegar {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.navegar__telefono,
.navegar__menu {
    font-size: 3rem;
    cursor: pointer;
}

@media (min-width: 992px) {
    .navegar__telefono {
        color: var(--blanco);
    }

    .navegar__menu {
        display: none;
    }
}

.navegar__ciudad {
    display: none;
}

@media (min-width: 992px) {
    .navegar__ciudad {
        display: flex;
        flex-direction: column;
        color: var(--blanco);
        font-size: 1.5rem;
    }

    .ciudad__informacion span {
        color: var(--colorSecundario);
    }

    .ciudad__numero {
        display: block;
        font-size: 1.9rem;
    }
}

.navegar__ingreso {
    display: none;
}

@media (min-width: 992px) {
    .navegar__ingreso {
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: var(--colorPrincipal);
        border: none;
        outline: none;
        color: var(--blanco);
        font-size: 1.3rem;
        font-weight: 700;
        cursor: pointer;
    }

    .ingreso__usuario {
        color: var(--colorSecundario);
        font-size: 2rem;
    }
}

.header__navegacion {
    background-color: var(--blanco);
}

.navegacion__contenido {
    display: flex;
    align-items: center;
}

@media (min-width: 992px) {
    .navegacion__contenido {
        padding: 1.3rem 0;
        gap: 4rem;
    }
}

.navegacion__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: var(--colorPrincipal);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: all 1s;
    transform: translateX(100%);
}

.navegacion__contenedor.active {
    transform: translateX(0%);
}

@media (min-width: 992px) {
    .navegacion__contenedor {
        flex-direction: row;
        position: relative;
        height: auto;
        background-color: var(--blanco);
        z-index: 0;
        transition: none;
        transform: translateX(0%);
    }
}

.contenedor__links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}

@media (min-width: 992px) {
    .contenedor__links {
        width: 100%;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
}

.links__opcion__link {
    text-transform: uppercase;
    color: var(--colorSecundario);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    transition: all 0.3s;
}

@media (min-width: 992px) {
    .links__opcion__link {
        color: var(--colorPrincipal);
    }
}

.links__opcion__link:hover {
    color: var(--blanco);
    border-bottom: .5rem solid var(--rojo);
}

@media (min-width: 992px) {
    .links__opcion__link:hover {
        color: var(--colorPrincipal);
    }
}

.contenedor__redes {
    display: flex;
    gap: 2rem;
}

.redes__opcion__link {
    background-color: var(--blanco);
    border-radius: 50%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}

.redes__opcion__link:hover {
    background-color: var(--rojo);
}

.redes__opcion__link i {
    font-size: 2rem;
}

.redes__opcion__link:hover i {
    color: var(--blanco);
}

@media (min-width: 992px) {
    .contenedor__redes {
        display: none;
    }
}

.navegacion__cerrar {
    color: var(--blanco);
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
}

@media (min-width: 992px) {
    .navegacion__cerrar {
        display: none;
    }
}

.navegacion__botonsincolas {
    display: none;
}

@media (min-width: 992px) {
    .navegacion__botonsincolas {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: .8rem 1.5rem;
        background-color: var(--colorSecundario);
        outline: none;
        border: none;
        color: var(--colorPrincipal);
        font-size: 1.2rem;
        border-radius: 3rem;
        cursor: pointer;
    }

    .navegacion__botonsincolas__informacion span {
        color: var(--rojo);
        font-weight: 700;
    }

    .navegacion__botonsincolas i {
        font-size: 2rem;
    }
}

.navegacion__shopcar {
    display: none;
}

@media (min-width: 992px) {
    .navegacion__shopcar {
        display: block;
        padding: 1rem 2rem;
        background-color: var(--colorSecundario);
        outline: none;
        border: none;
        border-radius: 3rem;
        font-size: 2rem;
        cursor: pointer;
    }
}

/* *********************************************** */

/*FOOTER ------------------------*/
.footer {
    width: 100%;
    background-color: var(--colorPrincipal);
    color: var(--blanco);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* 1ra franja-horizontal */

.footer__icons__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 42px;
    margin-bottom: 50px;
    gap: 30px;
}

.icon__social {
    font-size: 35px;
    cursor: pointer;
    color: white;

}

/* 2da franja horizontal */

.footer__second__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* 2da franja horizontal/ 1ra franja vertical*/

.footer__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: block;
    width: 100%;
}

.footer__info-list {
    width: 100%;
}

.footer__info-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    line-height: 26px;
    width: 100%;
    gap: 50px;
}

.footer__info-item-1row,
.footer__info-item-2row {
    display: flex;
    flex-direction: column;
    font-size: 14.5px;
}

.footer__info-item-1row {
    width: 45%;

}

.container__query {
    display: none;
}

.footer__info-item a {

    color: var(--blanco);
    text-decoration: none;
}

.footer__info-item a:hover {
    text-decoration: underline;
}

.container__bembos__blanco {
    width: 100%;
    text-align: center;
}

.logo__bembos__blanco {
    width: 48%;
}

/* 2da franja horizontal: PAGOS/ 2da franja vertical*/

.footer__pago {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__pago p {
    font-weight: bold;
}

.pago__metodos__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}

.tarjetas__container {
    display: flex;
    gap: 20px;
}

.image__pago {
    max-width: 60px;
    border-radius: 5px;
}

.image__pago__safety {
    max-width: 180px;
}

.boton__comprobante {
    background-color: var(--colorSecundario);
    color: var(--colorPrincipal);
    padding: 16px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    max-width: 210px;
    width: 100%;
    display: block;
}

.boton__comprobante i {
    margin-right: 8px;
}

.container__libro__reclamaciones {
    display: none;
}

/* 2da franja horizontal/ 3ra franja vertical  */

.footer__formulario {
    display: flex;
    flex-direction: column;
}

/* Noticias */

.footer__formulario label p {
    font-weight: bold;
    margin-bottom: 15px;
}

.formulario__noticias {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 370px;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.formulario__noticias input {
    height: 40px;
    padding-left: 10px;
    border: none;
    font-size: 15px;
}

.formulario__noticias input:focus {
    outline: none;
    border: 1px solid var(--color-gris);
}

.formulario__noticias button {
    background-color: var(--colorSecundario);
    border: none;
    height: 40px;
    cursor: pointer;
}

/* Términos y condiciones */

.formulario__checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
}

.formulario__checkbox label {
    margin-left: 10px;
}

.formulario__checkbox label u {
    margin-left: 10px;
    cursor: pointer;
}

.container__ocultar {
    display: block;
}

/*
Libro de reclamaciones
 */
.libro__reclamaciones__img {
    max-width: 100px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
}

.libro__reclamaciones__query {
    display: none;
}

/* PARTE FINAL: Footer/Derechos reservados */

.footer__derechos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
}

.footer__derechos p {
    color: var(--color-contrast);
    font-size: 13.5px;
    transform: scaleY(1.1);
}

hr {
    color: var(--blanco);
    margin-top: 20px;
    margin-bottom: 20px;
    width: 95%;
    height: 1px;
    opacity: 0.5;
}

/* Contenedor de carrito de compras //Solo mobile*/

.footer__mobile {
    width: 100%;
    background-color: var(--colorPrincipal);
    color: var(--blanco);
    display: none;
}

.footer__mobile__contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.icon__footer__mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon__footer__mobile i {
    margin-bottom: 16px;
    margin-top: 18px;
    color: var(--colorSecundario);
    font-size: 24px;
}

.icon__footer__mobile h4 {
    margin-bottom: 16px;
    font-size: 0.8rem;
}

.principal {
    padding-top: 20rem;
}


/* RESPONSIVE DESIGN */

@media (max-width:992px) {
    .container__ocultar {
        display: none;

    }

    .footer__info__tablet {
        text-align: center;
    }

    .footer__info__tablet hr {
        margin-left: auto;
        margin-right: auto;
    }

    .footer__formulario {
        display: none
    }

    .footer__second__container {
        grid-template-columns: 1fr;
    }

    .container__libro__reclamaciones {
        display: block;
        margin-top: 50px;
    }

    .container__query {
        display: block;
    }

}

@media (max-width: 600px) {
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
    }

    .container {
        display: none;
    }

    .footer__derechos {
        display: none;
    }

    .footer__mobile {
        display: block;
    }

}