:root {
    --color-contrast: #9bb5da;
    --color-gris: #d8d8d8;
    --grisClaro: #A19E9E;
    --blanco: #FFFFFF;
    --negro: #000000;
    --rojo: #E20917;
    --colorPrincipal: #173083;
    --colorSecundario: #FBB905;
    --fuentePrincipal: 'Roboto', sans-serif;
}

/* 
AJUSTES GENERALES */

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--fuentePrincipal);
    width: 100%;
    font-size: 1.6rem;
    background-color: #F6F7F8;
}
img {
    max-width: 100%;
    display: block;
}
i {
    color: var(--colorPrincipal);
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
/* Utilitarios */
.contenedor {
    width: 97%;
    max-width: 115rem;
    margin: 0 auto;
}

/********/

/************ Seccion Header *************/
.header {
    position: fixed;
    background-color: var(--blanco);
    width: 100%;
    border-bottom: 1px solid var(--grisClaro);
    box-shadow: 0px 1px 8px 1px rgba(161,158,158,0.86);
    -webkit-box-shadow: 0px 1px 8px 1px rgba(161,158,158,0.86);
    -moz-box-shadow: 0px 1px 8px 1px rgba(161,158,158,0.86);
}
@media (min-width: 992px) {
    .header {
        background-color: var(--colorPrincipal);
    }
}
.header__atencion {
    background-color: var(--negro);
    padding: 1rem 0;
    overflow: hidden;
}
.atencion__imagen {
    margin: 0 auto;
    scale: 1.3;
}
.header__barra {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1.8rem 1rem;
}
@media (min-width: 992px) {
    .header__barra {
        background-color: var(--colorPrincipal);
    }
}
.barra__logo {
    background-image: url(../src/img/logo_bembos_mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 8rem;
    height: 3rem;
}
@media (min-width: 768px) {
    .barra__logo {
        width: 13rem;
        height: 5rem;
    }
}
@media (min-width: 992px) {
    .barra__logo {
        background-image: url(../src/img/logo_bembos_desktop.png);
        width: 14rem;
        height: 5rem;
    }
}
.barra__botonsincolas {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .8rem 1.5rem;
    background-color: var(--colorSecundario);
    outline: none;
    border: none;
    color: var(--colorPrincipal);
    font-size: 1.2rem;
    border-radius: 3rem;
    cursor: pointer;
}
.barra__botonsincolas__informacion span {
    display: block;
    color: var(--rojo);
    font-weight: 700;
}
.barra__botonsincolas i {
    font-size: 2rem;
}
@media (min-width: 768px) {
    .barra__botonsincolas {
        padding: 1rem 2rem;
    }
}
@media (min-width: 992px) {
    .barra__botonsincolas {
        display: none;
    }
}
.barra__navegar {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.navegar__telefono,
.navegar__menu {
    font-size: 3rem;
    cursor: pointer;
}
@media (min-width: 992px) {
    .navegar__telefono {
        color: var(--blanco);
    }
    .navegar__menu {
        display: none;
    }
}
.navegar__ciudad {
    display: none;
}
@media (min-width: 992px) {
    .navegar__ciudad {
        display: flex;
        flex-direction: column;
        color: var(--blanco);
        font-size: 1.5rem;
    }
    .ciudad__informacion span {
        color: var(--colorSecundario);
    }
    .ciudad__numero {
        display: block;
        font-size: 1.9rem;
    }
}
.navegar__ingreso {
    display: none;
}
@media (min-width: 992px) {
    .navegar__ingreso {
        margin-left: 1.5rem;
        display: flex;
        align-items: center;
        gap: 1rem;
        background-color: var(--colorPrincipal);
        border: none;
        outline: none;
        color: var(--blanco);
        font-size: 1.3rem;
        font-weight: 700;
        cursor: pointer;
    }
    .ingreso__usuario {
        color: var(--colorSecundario);
        font-size: 2rem;
    }
}
.header__navegacion {
    background-color: var(--blanco);
}
.navegacion__contenido {
    display: flex;
    align-items: center;
}
@media (min-width: 992px) {
    .navegacion__contenido {
        padding: 1.3rem 0;
        gap: 4rem;
    }
}
.navegacion__contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    background-color: var(--colorPrincipal);
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    transition: all 1s;
    transform: translateX(100%);
}
.navegacion__contenedor.active {
    transform: translateX(0%);
}
@media (min-width: 992px) {
    .navegacion__contenedor {
        flex-direction: row;
        position: relative;
        height: auto;
        background-color: var(--blanco);
        z-index: 0;
        transition: none;
        transform: translateX(0%);
    }
}
.contenedor__links {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
}
@media (min-width: 992px) {
    .contenedor__links {
        width: 100%;
        flex-direction: row;
        gap: 0;
        justify-content: space-between;
    }
}
.links__opcion__link {
    text-transform: uppercase;
    color: var(--colorSecundario);
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    transition: all 0.3s;
}
@media (min-width: 992px) {
    .links__opcion__link {
        color: var(--colorPrincipal);
    }
}
.links__opcion__link:hover {
    color: var(--blanco);
    border-bottom: .5rem solid var(--rojo);
}
@media (min-width: 992px) {
    .links__opcion__link:hover {
        color: var(--colorPrincipal);
    }
}
.contenedor__redes {
    display: flex;
    gap: 2rem;
}
.redes__opcion__link {
    background-color: var(--blanco);
    border-radius: 50%;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s;
}
.redes__opcion__link:hover {
    background-color: var(--rojo);
}
.redes__opcion__link i {
    font-size: 2rem;
}
.redes__opcion__link:hover i {
    color: var(--blanco);
}
@media (min-width: 992px) {
    .contenedor__redes {
        display: none;
    }
}
.navegacion__cerrar {
    color: var(--blanco);
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
}
@media (min-width: 992px) {
    .navegacion__cerrar {
        display: none;
    }
}
.navegacion__botonsincolas {
    display: none;
}
@media (min-width: 992px) {
    .navegacion__botonsincolas {
        display: flex;
        align-items: center;
        gap: 1rem;
        padding: .8rem 1.5rem;
        background-color: var(--colorSecundario);
        outline: none;
        border: none;
        color: var(--colorPrincipal);
        font-size: 1.2rem;
        border-radius: 3rem;
        cursor: pointer;
    }
    .navegacion__botonsincolas__informacion span {
        color: var(--rojo);
        font-weight: 700;
    }
    .navegacion__botonsincolas i {
        font-size: 2rem;
    }
}
.navegacion__shopcar {
    display: none;
}
@media (min-width: 992px) {
    .navegacion__shopcar {
        display: block;
        padding: 1rem 2rem;
        background-color: var(--colorSecundario);
        outline: none;
        border: none;
        border-radius: 3rem;
        font-size: 2rem;
        cursor: pointer;
    }
}
/* *********************************************** */